@inherits LayoutComponentBase

<div class="app-layout">

    <aside class="sidebar">
        <NavMenu />
    </aside>

    <div class="main">

        <header class="topbar">

            <div class="top-left">
                <h5>Overview</h5>
            </div>

        </header>

        
        <section class="content">
            @Body
        </section>

    </div>

</div>