<nav class="nav-menu">

    <h4 class="logo">Dash</h4>

    <NavLink href="/DashBoards" Match="NavLinkMatch.All">
        <i class="bi bi-grid"></i>
        <span>Overview</span>
    </NavLink>

    <NavLink href="/analytics">
        <i class="bi bi-graph-up"></i>
        <span>Cadastro</span>
    </NavLink>

    <NavLink href="/analytics">
        <i class="bi bi-graph-up"></i>
        <span>Produtos</span>
    </NavLink>

    <NavLink href="/reports">
        <i class="bi bi-file-earmark"></i>
        <span>Serviços</span>
    </NavLink>

    <NavLink href="/settings">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
    </NavLink>

</nav>