@inherits LayoutComponentBase

<nav class="navbar">
    <NavLink class="navbar-brand" href="/">🏢 Gestão de Estoque</NavLink>
    <NavLink href="/produtos">Produtos</NavLink>
    <NavLink href="/marcas">Marcas</NavLink>
    <NavLink href="/fornecedores">Fornecedores</NavLink>
    <NavLink href="/transportadoras">Transportadoras</NavLink>
</nav>

<div class="page">
    <main>
        <div class="content">
            @Body
        </div>
    </main>
</div>
